@import url("./reset.css");

html {
    font-family: "Barlow Semi Condensed", sans-serif;
    background: rgb(32 48 69);
    color: white;
    letter-spacing: 1px;
    padding: 20px;
    position: relative;
}

