.appLoader {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32 48 69);
    animation: linear 700ms fade forwards;
    animation-delay: 1.5s;
}

@keyframes fade {
    to {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
